In [1]:
import pandas as pd

# *Data Manipulation Notebook 2:*  Appending, Concatinating, Merging, and Joining Tables

In [2]:
flowers = pd.DataFrame({
    "Name" : ["Iris", "Peony", "Daisy", "Petunia", "Impatiens", "Creeping Myrtle"], 
    "Plant_Type" : ["Perennial", "Perennial","Annual", "Annual", "Annual", "Perennial"],
    "Sun_Shade": ["Full Sun", "Full Sun", "Partial Sun", "Partial Sun", "Partial Shade", "Full Shade" ]
    
})

garden_supply = pd.DataFrame({
    "Flower" : ["Daylily","Iris", "Peony","Petunia", "Petunia", "Impatiens", "Coneflower"],
    "Sold_As" : ["Container", "Bulb Pack", "Root Pack","Container Pack", "Mixed Container", "Container Pack", "Container"],
    "Amt_Package" : [1, 25, 5, 4, 1, 4, 1]
})

shrubs = pd.DataFrame({
    "Name" : ["Boxwood", "Hydrangea", "Dipladenia", "Gardenia"], 
    "Plant_Type" : ["Evergreen", "Flowering", "Flowering", "Flowering"],
    "Sun_Shade": ["Partial Sund", "Partial Sun", "Partial Shade", "Full Sun" ]
})

<span style="background-color:dodgerblue; color:dodgerblue;">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</span>

# Part 1: Append

In [3]:
#SOLUTION
append_plants = flowers.append(shrubs)

C:\Users\praka\AppData\Local\Temp\ipykernel_26372\3413256132.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  append_plants = flowers.append(shrubs)

In [4]:
# SOLUTION
append_plants = flowers.append(shrubs, ignore_index=True)
append_plants

C:\Users\praka\AppData\Local\Temp\ipykernel_26372\1113265745.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  append_plants = flowers.append(shrubs, ignore_index=True)

              Name Plant_Type      Sun_Shade
0             Iris  Perennial       Full Sun
1            Peony  Perennial       Full Sun
2            Daisy     Annual    Partial Sun
3          Petunia     Annual    Partial Sun
4        Impatiens     Annual  Partial Shade
5  Creeping Myrtle  Perennial     Full Shade
6          Boxwood  Evergreen   Partial Sund
7        Hydrangea  Flowering    Partial Sun
8       Dipladenia  Flowering  Partial Shade
9         Gardenia  Flowering       Full Sun

<span style="background-color:dodgerblue; color:dodgerblue;">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</span>

# Part 2: Concatenation

In [5]:
# Concatenate flowers and shrubs horizontally here:

#SOLUTION
flowers_shrubs = pd.concat([flowers, shrubs], axis=1)

<span style="background-color:dodgerblue; color:dodgerblue;">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</span>

# Part 3:  Merge

In [6]:
# Run this code: (uncomment)
# flowers.merge(garden_supply)

#Why isn't this working?

# SOLUTION: no common key

### Option 1:  Rename a column in the flowers table.

Create a variable to hold your updated table.  
apply the following syntax to update your column names: **table_name.rename(columns={"original_name": "new_name"})**

In [7]:
# Code Option 1 here.  Be sure to run your table before moving on to option 2.

#SOLUTION
rename_flowers_col = flowers.rename(columns={"Name": "Flower"})

#### Option 1 Testing:
Merge garden_supply with you updated table in a new variable.
Run your newly merged table and examine it.

In [22]:
# Test Option 1 here:
#SOLUTION

merge_rename = rename_flowers_col.merge(garden_supply)
merge_rename

      Flower Plant_Type      Sun_Shade          Sold_As  Amt_Package
0       Iris  Perennial       Full Sun        Bulb Pack           25
1      Peony  Perennial       Full Sun        Root Pack            5
2    Petunia     Annual    Partial Sun   Container Pack            4
3    Petunia     Annual    Partial Sun  Mixed Container            1
4  Impatiens     Annual  Partial Shade   Container Pack            4

### Option 2: Using the merge method's parameters "left_on" & "right_on"

Option 2 can be used when if you would rather not rename any columns.
Using the syntax below as a guide, create a table where you merge the *flowers* table on the "Name" column and the *garden_supply* on the "Flower".  Set your tables up where *flowers* is on the left and *garden_supply* on the right
    
Syntax:  **left_table.merge(right_table, left_on="column_name", right_on="column_name")**

In [9]:
# Code Option 2 here:
# SOLUTION
merge_only = flowers.merge(garden_supply, left_on="Name", right_on="Flower")

### Sytnax Exploring:
Using the syntax in Option 2, perform the same merge, but this time *garden_supply* on the left and *flowers* on the right.  What do you notice?

In [10]:
#  Code your Syntax Exploration here:
#SOLUTION
merge_only1 = garden_supply.merge(flowers, left_on="Flower", right_on="Name")

<span style="background-color:dodgerblue; color:dodgerblue;">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</span>

# Part 4:  Types of Merges

## 4a: Inner Merge

In [11]:
inner = pd.merge(flowers, garden_supply, how="inner", left_on="Name", right_on="Flower", indicator=True)

In [12]:
# Explain this table.  How is it organized?  Why are there only 5 rows?
#SOLUTION - contains shared between left and right table, where name = flower

## 4b: Left Merge

In [13]:
# Create a left merge table:

#SOLUTION
left = pd.merge(flowers, garden_supply, how="left", left_on="Name", right_on="Flower", indicator=True)

## 4c: Right Merge

In [14]:
right = pd.merge(flowers, garden_supply, how="right", left_on="Name", right_on="Flower", indicator=True)

In [15]:
# The syntax for right merge has been provided.
# In your own words, explain how it is different from the left merge in 4b:
    # All values from right table and any shared values in the left table are contained in the table.
    # Any values that are only in the left table are represented by "NaN" and are not in this table.

## Outer Merge

In [16]:
# Create an outer merge table:

#SOLUTION - if they used Option 2
outer = pd.merge(flowers, garden_supply, how="outer", left_on="Name", right_on="Flower", indicator=True)

## Anti_Merge

An **Anti Merge** is a merge based on what is leftout.  This is not an actual table, but you can create one with a little code and logic.  Read through the code below to see one way to create an anti-table.

In [17]:
left_join = flowers.merge(garden_supply, how="left", left_on="Name", right_on="Flower", indicator=True) 
left_only = left_join.loc[left_join["_merge"] =="left_only", "Name"]
left_only_flowers=flowers[flowers["Name"].isin(left_only)]

# In your own words, how did we create the "left_only_flowers" table?  Answers may vary
    # Started by merging our table together (left_join)
    # Create a variable to hold our "left_only" flowers
    # Created table contianing items in the left_only variable

<span style="background-color:dodgerblue; color:dodgerblue;">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</span>

# Part 5: Join

In [25]:
join = flowers.join(garden_supply)
join

,Name,Plant_Type,Sun_Shade,Flower,Sold_As,Amt_Package
0,Iris,Perennial,Full Sun,Daylily,Container,1
1,Peony,Perennial,Full Sun,Iris,Bulb Pack,25
2,Daisy,Annual,Partial Sun,Peony,Root Pack,5
3,Petunia,Annual,Partial Sun,Petunia,Container Pack,4
4,Impatiens,Annual,Partial Shade,Petunia,Mixed Container,1
5,Creeping Myrtle,Perennial,Full Shade,Impatiens,Container Pack,4

In [26]:
# create a "join_inner" table that inner joins garden_supply and flowers:
#SOLUTION
join_inner = garden_supply.join(flowers, how="inner")
join_inner

,Flower,Sold_As,Amt_Package,Name,Plant_Type,Sun_Shade
0,Daylily,Container,1,Iris,Perennial,Full Sun
1,Iris,Bulb Pack,25,Peony,Perennial,Full Sun
2,Peony,Root Pack,5,Daisy,Annual,Partial Sun
3,Petunia,Container Pack,4,Petunia,Annual,Partial Sun
4,Petunia,Mixed Container,1,Impatiens,Annual,Partial Shade
5,Impatiens,Container Pack,4,Creeping Myrtle,Perennial,Full Shade

In [28]:
# Below is the code for an outer join
join_outer = garden_supply.join(flowers, how="outer")
join_outer

,Flower,Sold_As,Amt_Package,Name,Plant_Type,Sun_Shade
0,Daylily,Container,1,Iris,Perennial,Full Sun
1,Iris,Bulb Pack,25,Peony,Perennial,Full Sun
2,Peony,Root Pack,5,Daisy,Annual,Partial Sun
3,Petunia,Container Pack,4,Petunia,Annual,Partial Sun
4,Petunia,Mixed Container,1,Impatiens,Annual,Partial Shade
5,Impatiens,Container Pack,4,Creeping Myrtle,Perennial,Full Shade
6,Coneflower,Container,1,NaN,NaN,NaN

In [21]:
# Based on what an outer join does, look closely at the table "join_outer".  
# Explain how these table elements are indexed.
    # Answers may vary
    # Starts with shared elements, then 6 is only found in the garden supply table